<div>
    <form name="addForm">
        <div class="wrapper">
            <div class="section">
                <h1>Add Car</h1>
            </div>
            <div class="section" id="brand">
                <p>Brand</p>
                <input type="text" name="brand" #brand autocomplete="off">
            </div>
            <div class="section" id="model">
                <p>Model</p>
                <input type="text" name="model" #model autocomplete="off">
            </div> 
            <div class="section" id="color">
                <p>Color</p>
                <input type="text" name="color" #color autocomplete="off">
            </div>
            <div class="section" id="price">
                <p>Price</p>
                <input type="number" name="price" #price autocomplete="off">
            </div>
            <div class="section" id="image">
                <p>Image</p>
                <input type="text" name="image" #image autocomplete="off">
            </div>
            <div class="section" id="buttons">
                <div>
                    <input type="reset" value="Clear">
                </div>
                <div>
                    <input type="button" (click)="addCar(brand.value, model.value, color.value, price.value, image.value)" value="Add">
                </div>
            </div>
        </div>
    </form>
</div>