.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#pic img{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    object-fit: cover;
    transition: 200ms ease-in-out;
}

#pic img:hover{
    transform: scale(1.2);
}