/* You can add global styles to this file, and also import other style files */
body{
    background-color: #FFFCFF;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Century Gothic", Arial, Helvetica, sans-serif
}

html{
    width: 100%;
    height: 100%;
    margin: 0;
}