<div class="wrapper">
    <div class="category" id="add">
        <app-add-car (add)="addCar($event)"></app-add-car>
    </div>
    <div class="category" id="available">
        <div *ngFor="let car of cars | async">
            <app-available-car
            [car]=car
            (rent)="rentCar($event)"
            ></app-available-car>
        </div>
    </div>
    <div class="category" id="rented">
        <div *ngFor="let car of rented | async">
            <app-rented-car
            [car]=car
            (ret)="returnCar($event)"
            ></app-rented-car>
        </div>
    </div>
</div>
